:root{
    --primary-color: #fff;
    --secondary-color: darkgrey;
    --police: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

header.logo_guestbook {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 30px;
    padding: 2px 20px;
    
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px black;

}

header.logo_guestbook img {
    height: 80px;
}

nav.menu ul {
    display: flex;
    list-style: none;
    font-family: var(--police);
    gap: 20px;
    font-size: 1.5rem;
    margin-right: 40px;
    padding: 0;
}

nav.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav.menu a:hover {
    color: blue;
    text-decoration: underline;
}

.image-fond{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.image-fond img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.contenue{
    position: relative;
    max-width: 600px;
    margin-left: 40px;
    color: var(--primary-color);
    padding: 20px;
}

.contenue h1{
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.contenue p{
    font-size: 1rem;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #2b2b2b;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s;
}

.btn:hover{
    background: #000;
}

footer{
    position: relative; 
    text-align: center;
    gap: 30px;
    padding: 5px 20px;

    background-color:grey;
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px black;
}

footer p{
    font-family: var(--police);
    font-size: larger;
    font-weight: bold;
}
