:root{
    --primary-color: #fff;
    --secondary-color: darkgrey;
    --effet: blue;
    --police: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

header.logo_guestbook {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 30px;
    padding: 2px 20px;
    
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px black;

}

header.logo_guestbook img {
    height: 80px;
}

nav.menu ul {
    display: flex;
    list-style: none;
    font-family: var(--police);
    gap: 20px;
    font-size: 1.5rem;
    margin-right: 40px;
    padding: 0;
}

nav.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav.menu a:hover {
    color: var(--effet);
    text-decoration: underline;
}