/* Desktop - 1 */

/* Rectangle 1 */
body {
width: 1440px;
height: 157px;
left: 0px;
top: 42px;

background: #D9D9D9;
}

/* Ellipse 2 */
.ellipse{
width: 117px;
height: 117px;
left: 55px;
top: 62px;

background: #000000;
}

/* LOGO */
.logo{
width: 159px;
height: 78px;
left: 34px;
top: 82px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

/* Accueil */
.accueil{
width: 233px;
height: 78px;
left: 477px;
top: 82px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/* Connexion */
.connexion {
width: 230px;
height: 97px;
left: 981px;
top: 75px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

/* Messages */
.messages{
width: 249px;
height: 76px;
left: 710px;
top: 83px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
